[Desktop Entry]
Comment=A GUI to submit and manage virtual screening jobs to the grid.
Comment[en]=A GUI to submit and manage virtual screening jobs to the grid.
Exec=/usr/bin/grisu-virtscreen 
GenericName=
GenericName[en]=
Icon=/usr/local/lib/grisu/virtscreen-icon.png
MimeType=
Name=Virtual Screening Client
Name[en]=Virtual Screening Client
Terminal=false
Type=Application
Categories=X-NeSI;
X-KDE-SubstituteUID=false
X-KDE-Username=root


